# hal_dumpstate_default.te

get_prop(hal_dumpstate_default, exported_bluetooth_prop)
set_prop(hal_dumpstate_default, vendor_dumpstate_config_prop)

allow hal_dumpstate_default { debugfs_type -debugfs -debugfs_kprobes -debugfs_tracing_debug }:dir r_dir_perms;
allow hal_dumpstate_default { debugfs_type -debugfs -debugfs_kprobes -debugfs_tracing_debug }:file r_file_perms;
allow hal_dumpstate_default { debugfs_type -debugfs -debugfs_kprobes -debugfs_tracing_debug }:lnk_file r_file_perms;
allow hal_dumpstate_default debugfs_tracing:dir r_dir_perms;
allow hal_dumpstate_default debugfs_tracing:file r_file_perms;
allow hal_dumpstate_default debugfs_tracing:lnk_file r_file_perms;
allow hal_dumpstate_default domain:dir r_dir_perms;
allow hal_dumpstate_default domain:file r_file_perms;
allow hal_dumpstate_default domain:lnk_file r_file_perms;
allow hal_dumpstate_default dumpstate:unix_stream_socket getattr;
allow hal_dumpstate_default fsdbg_device:dir rw_dir_perms;
allow hal_dumpstate_default fsdbg_device:file rw_file_perms;
allow hal_dumpstate_default fsdbg_vendor_exec:file execute_no_trans;
allow hal_dumpstate_default proc_bluetooth:dir r_dir_perms;
allow hal_dumpstate_default proc_bluetooth:file r_file_perms;
allow hal_dumpstate_default proc_bluetooth:lnk_file r_file_perms;
allow hal_dumpstate_default proc_boot_stat:dir r_dir_perms;
allow hal_dumpstate_default proc_boot_stat:file r_file_perms;
allow hal_dumpstate_default proc_boot_stat:lnk_file r_file_perms;
allow hal_dumpstate_default proc_bt_uart:dir r_dir_perms;
allow hal_dumpstate_default proc_bt_uart:file r_file_perms;
allow hal_dumpstate_default proc_bt_uart:lnk_file r_file_perms;
allow hal_dumpstate_default proc_dplog:dir r_dir_perms;
allow hal_dumpstate_default proc_dplog:file r_file_perms;
allow hal_dumpstate_default proc_dplog:lnk_file r_file_perms;
allow hal_dumpstate_default proc_enhanced_boot_stat:dir r_dir_perms;
allow hal_dumpstate_default proc_enhanced_boot_stat:file r_file_perms;
allow hal_dumpstate_default proc_enhanced_boot_stat:lnk_file r_file_perms;
allow hal_dumpstate_default proc_fslog:dir r_dir_perms;
allow hal_dumpstate_default proc_fslog:file r_file_perms;
allow hal_dumpstate_default proc_fslog:lnk_file r_file_perms;
allow hal_dumpstate_default proc_lmkd_debug:dir r_dir_perms;
allow hal_dumpstate_default proc_lmkd_debug:file r_file_perms;
allow hal_dumpstate_default proc_lmkd_debug:lnk_file r_file_perms;
allow hal_dumpstate_default proc_meminfo:dir r_dir_perms;
allow hal_dumpstate_default proc_meminfo:file r_file_perms;
allow hal_dumpstate_default proc_meminfo:lnk_file r_file_perms;
allow hal_dumpstate_default proc_mmap_readaround_limit:dir r_dir_perms;
allow hal_dumpstate_default proc_mmap_readaround_limit:file r_file_perms;
allow hal_dumpstate_default proc_mmap_readaround_limit:lnk_file r_file_perms;
allow hal_dumpstate_default proc_sec_log:file r_file_perms;
allow hal_dumpstate_default proc_sec_pm_log:dir r_dir_perms;
allow hal_dumpstate_default proc_sec_pm_log:file r_file_perms;
allow hal_dumpstate_default proc_sec_pm_log:lnk_file r_file_perms;
allow hal_dumpstate_default proc_tsp:file r_file_perms;
allow hal_dumpstate_default proc_usblog:file r_file_perms;
allow hal_dumpstate_default sec_debugfs:dir r_dir_perms;
allow hal_dumpstate_default sec_debugfs:file r_file_perms;
allow hal_dumpstate_default sec_debugfs:lnk_file r_file_perms;
allow hal_dumpstate_default sec_display_debug_device:chr_file r_file_perms;
allow hal_dumpstate_default shell_data_file:file getattr;
allow hal_dumpstate_default sysfs:file r_file_perms;
allow hal_dumpstate_default sysfs_gpu:dir r_dir_perms;
allow hal_dumpstate_default sysfs_gpu:file r_file_perms;
allow hal_dumpstate_default sysfs_gpu:lnk_file r_file_perms;
allow hal_dumpstate_default sysfs_mali_memtrack:dir r_dir_perms;
allow hal_dumpstate_default sysfs_mali_memtrack:file r_file_perms;
allow hal_dumpstate_default sysfs_mali_memtrack:lnk_file r_file_perms;
allow hal_dumpstate_default sysfs_memlogger:dir r_dir_perms;
allow hal_dumpstate_default sysfs_memlogger:file r_file_perms;
allow hal_dumpstate_default sysfs_memlogger:lnk_file r_file_perms;
allow hal_dumpstate_default sysfs_mmc_host:dir r_dir_perms;
allow hal_dumpstate_default sysfs_mmc_host:file r_file_perms;
allow hal_dumpstate_default sysfs_mmc_host:lnk_file r_file_perms;
allow hal_dumpstate_default sysfs_scsi_host:dir r_dir_perms;
allow hal_dumpstate_default sysfs_scsi_host:file r_file_perms;
allow hal_dumpstate_default sysfs_scsi_host:lnk_file r_file_perms;
allow hal_dumpstate_default sysfs_sec:dir r_dir_perms;
allow hal_dumpstate_default sysfs_sec:file r_file_perms;
allow hal_dumpstate_default sysfs_sec:lnk_file r_file_perms;
allow hal_dumpstate_default sysfs_ski_debug_writable:dir r_dir_perms;
allow hal_dumpstate_default sysfs_ski_debug_writable:file rw_file_perms;
allow hal_dumpstate_default sysfs_ski_power_readable:dir r_dir_perms;
allow hal_dumpstate_default sysfs_ski_power_readable:file r_file_perms;
allow hal_dumpstate_default sysfs_ski_power_readable:lnk_file r_file_perms;
allow hal_dumpstate_default sysfs_ski_ufs_writable:dir r_dir_perms;
allow hal_dumpstate_default sysfs_ski_ufs_writable:file r_file_perms;
allow hal_dumpstate_default sysfs_ski_ufs_writable:lnk_file r_file_perms;
allow hal_dumpstate_default sysfs_ss_writable:dir r_dir_perms;
allow hal_dumpstate_default sysfs_ss_writable:file r_file_perms;
allow hal_dumpstate_default sysfs_ss_writable:lnk_file r_file_perms;
allow hal_dumpstate_default sysfs_zram:dir r_dir_perms;
allow hal_dumpstate_default sysfs_zram:file r_file_perms;
allow hal_dumpstate_default sysfs_zram:lnk_file r_file_perms;
allow hal_dumpstate_default vendor_dma_buf_debugfs:file r_file_perms;
allow hal_dumpstate_default vendor_ion_debugfs:file r_file_perms;
allow hal_dumpstate_default vendor_mali_debugfs:file r_file_perms;
allow hal_dumpstate_default vendor_shell_exec:file execute_no_trans;
allow hal_dumpstate_default vendor_sysfs_debug:dir r_dir_perms;
allow hal_dumpstate_default vendor_sysfs_debug:file r_file_perms;
allow hal_dumpstate_default vendor_sysfs_debug:lnk_file r_file_perms;
allow hal_dumpstate_default vendor_sysfs_freq_qos_tracer:dir r_dir_perms;
allow hal_dumpstate_default vendor_sysfs_freq_qos_tracer:file r_file_perms;
allow hal_dumpstate_default vendor_sysfs_freq_qos_tracer:lnk_file r_file_perms;
