dontaudit untrusted_app_all coredomain_socket:file getattr;
dontaudit untrusted_app_all net_dns_prop:file open;
dontaudit untrusted_app_all proc_stat:file open;
dontaudit untrusted_app_all proc_type:file getattr;
dontaudit untrusted_app_all proc_uptime:file open;
dontaudit untrusted_app_all proc_version:file r_file_perms;
dontaudit untrusted_app_all proc_vmstat:file open;
dontaudit untrusted_app_all serialno_prop:file r_file_perms;
